[Unit]
Description=My Application Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/psdzd

# Increase logging
StandardOutput=journal
StandardError=journal

Environment=RUST_LOG=info
ExecStart=/opt/psdzd/psdzd $MAINPID
# Start new process and replace shell with it, then signal old process
ExecReload=/bin/bash -c 'trap "" SIGQUIT; /bin/kill -SIGQUIT ${MAINPID}; exec /opt/psdzd/psdzd ${MAINPID}'

# For graceful shutdown and socket handoff
KillSignal=SIGTERM
TimeoutStopSec=90
KillMode=mixed

# Don't restart during our intentional reload
RestartPreventExitStatus=SIGQUIT
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target